<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1>DETAILS</h1>
<p1>Off the field, Messi was one of the biggest athletic stars in the world. In addition to earning a football salary that was frequently, with Ronaldo’s, one of the two largest athletes’ salaries in all professional sports, he was an extremely successful product pitchman, notably for the sportswear company Adidas. In 2013 Messi and his father (who handled his son’s finances) were charged with tax fraud and accused of using overseas shell companies to avoid paying €4.2 million in Spanish taxes on endorsement earnings. Despite subsequently paying €5 million to the Spanish state, the pair were nevertheless ordered to stand trial on the charges in 2016. In July of that year, Messi and his father were each given suspended 21-month prison sentences (first-time offenders in Spain are given suspended sentences if the duration is under two years) and were fined €2 million and €1.5 million, respectively.</p1>
</body>
</html>